@charset "UTF8";

@font-face{
    font-family: 'Passion one';
    src: url('fontes/Passion_One/PassionOne-Regular.ttf') format('TrueType');  
    font-weight: normal;
    font-style: normal; 
    
}
@font-face {
    font-family: sriracha;
    src: url('fontes/Sriracha/Sriracha-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
    }
a{
    text-decoration: none;
    color: white;
  

}
a:hover{
    text-decoration: underline;
}

 *{
  
    margin: 0px;
    padding: 0px;
    
    
 }  
header > h1 {
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 11vw;
    padding-top: 50px;
 }

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
main{
    font-family: 'sriracha';
    padding-top: 2vh;
    line-height: 2em;
    
   
}

div#div1 {
    background-image: url("../imagens/background001.jpg");
    background-position: center center;
    background-attachment: fixed;
    max-height: 50%;
    padding: 5vw;
    text-shadow: 1px black;
}

.padrao
{
    line-height: 2em;
    font-size: 3vw;
    padding-left: 5vw;
    padding-bottom: 10vw;
    padding-top: 10vw;
   
}

.pimagem{
    line-height: 2em;
    display: inline-block;
    font-size: 3vw;
    background-color: rgba(37, 27, 27, 0.295);
    color: white;
    text-shadow: 3px black;
    
}

#div2{
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
    background-attachment: fixed;
    max-height: 50%;
    padding: 5vw;
   
 
}
footer{
    background-color: black;
    width: 100%;
    
    
}
#rodape{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1vw;
    font-size: 2.5vw;
  
}